.Header {
    height: 30vh;
    color: rgb(165, 158, 151);
}

.Header_wrapper {
    display: flex;
    align-items: center;
    height: 10vh;
    max-width: 750px;
    min-width: 300px;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.button_about {
    background-color: rgb(19, 17, 16);
    border: none;
    font-weight: bold;
    height: 2.5rem;
    width: 6rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    font-family: 'Cormorant SC', serif;
    cursor: pointer;
    transition: all 0.2s ease;
    color: rgb(165, 158, 151);
    box-shadow: 0 0 1em rgb(43, 40, 38);
}

.button_about:hover {
    color: rgb(253, 253, 238);
}

.logo_wrapper {
    height: 20vh;
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 750px;
    width: 90%;
    min-width: 300px;
    align-items: center;
}

.logo {
    max-width: 750px;
    width: 90%;
    min-width: 300px;
    display: flex;
    margin-top: 5vh;
}
